
body {
  background-color: #62c2c8;
}

.app {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.crossed {
  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: red;
  -webkit-text-decoration-thickness: 2px;
  text-decoration-line: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

ul, li {
  list-style-type: none;
  padding: 0.7vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.btnAdd {
  background: #65aa06;
  margin-top: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.btnDelete {
  background: #d30100;
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Inter', sans-serif;
}

img {
  border-radius: 50px;
}

